<div class="box">
  <h2>ТУРИСТИЧЕСКИЙ ПРОЕКТ</h2>
  <div class="box-contact">
    <div class="box-contact__col">
      <div class="box-contact__item">Москва, 1-й Щипковский переулок, д.1</div>
      <div class="box-contact__item">Показать на карте</div>
    </div>
    <div class="box-contact__col">
      <div class="box-contact__item">Время работы офиса:</div>
      <div class="box-contact__item">Будни 10:00 - 21:00</div>
      <div class="box-contact__item">Выходные и праздники 11:00 - 17:00</div>
    </div>
    <div class="box-contact__col">
      <div class="box-contact__item">+7 495 585 55 55</div>
      <div class="box-contact__item">Обратная связь</div>
    </div>
    <div class="box-contact__col">
      <a class="item-social" target="_blank" href="#">
        <img src="/assets/img/vk.svg" alt="">
        ВКонтакте</a>
      <a class="item-social" target="_blank" href="#">
        <img src="/assets/img/facebook.svg" alt="">
        Facebook</a>
      <a class="item-social" target="_blank" href="#">
        <img src="/assets/img/instagram.svg" alt="">
        Instagram</a>
      <a class="item-social" target="_blank" href="#">
        <img src="/assets/img/ok.svg" alt="">
        Одноклассники</a>
    </div>
  </div>
</div>
