:host {
  position: relative;
  display: inline-block;

  .clear {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
  }

  input {
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 20px;
    margin-top: 9px;
    max-width: 225px;
  }
}
